# General
.DS_Store
.AppleDouble
.LSOverride

# Files that might appear in the root of a volume
.com.apple.timemachine.donotpresent
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
.apdisk
Footer
Network Trash Folder
Temporary Items


# Obsidian
**/.obsidian/icons
**/.obsidian/plugins
**/.obsidian/themes
